.title {
    text-align: center;
}

.container {
    margin-top: 2.5vw;
    text-align: center;
    width: 50%;
}

.signupContainer {
    margin-top: 2.5vw;
    text-align: center;
}

.email {
    text-align: center;
    margin: 2.5vw;
}